html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	background: url('../images/bg2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
	text-align: center;
}

.wrapper {
	max-width: 1100px;
	display: block;
	margin: 0 auto;
}

.login, .register {
	width: 320px;
	display: block;
	margin: 0 auto;
	border: 1px solid white;
	margin-top: 7%;
	background: rgba(255, 255, 255, 0.17);
	color: #ffffff;
	border: 1px solid transparent;
}

input {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	height: 25px;
	padding: 8px 5px 8px 10px;
	color: #27b3c6;
	width: 200px;
	border: none;
	border-bottom: 2px solid #cecece;
	font-size: 1.1em;
}
input:focus {
	outline-width: 0;
	border-bottom: 2px solid #27b3c6;
	background-color: rgba(243, 255, 179, 0.53);
	color: #27b3c6;
	font-size: 1.1em;
}

button {
	margin: 0 auto;
	margin-bottom: 20px;
	width: 90px;
	margin: 30px 5px 20px 5px;
	background: #FFF;
	border: 1px solid #27b3c6;
	color: #27b3c6;
	padding: 15px 0 15px 0;
}

button:focus {
	outline-width: 0;
}

.btn {
	border: 1px solid #47cc1d;
	background-color: #47cc1d;
	color: #ffffff;
}

.btn:hover {
	background-color: #4cb92d;
	cursor: pointer;
}

.altbtn:hover {
	background-color: #27b3c6;
	color: #ffffff;
	cursor: pointer;
}

.settings {
	color: #FFF;
	border: 1px solid #FFF;
	width: 50px;
	display: block;
	margin: 0 auto;
	padding: 5px;
}


footer {

}

a {text-decoration: none; color: #f54400;}
a:hover {color: #b13000;}
.error {
	color: #FFFFFF;
	font-size: 12px;
	font-style: italic;
	background-color: #f63855;
	padding: 3px;
	text-align: center;
	max-width: 210px;
	display: block;
	margin: 20px auto;
}


.nav {
	width: 100%;
	background: rgba(161, 161, 161, 0.27);
	margin: 0 auto;
}

.nav ul {
	list-style-type: none;
	margin: 0 auto;
	text-align: center;
}

.nav li {
	display: inline-block;
	margin: 10px 20px 10px 20px;
}

.nav li a {
	color: #ffffff;
}

.nav li a:hover {
	border-bottom: 1px solid #e2fede;
	color: #e2fede;
}

.brand a {
	color: white;
}

#teamTitle {
	color: #ffffff;
}

/* Status Color Classes 
______________________________*/
.green {
	background: #00c853;
	background: -moz-linear-gradient(top,  #00c853 0%, #00e676 70%, #69f0ae 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c853), color-stop(70%,#00e676), color-stop(100%,#69f0ae));
	background: -webkit-linear-gradient(top,  #00c853 0%,#00e676 70%,#69f0ae 100%);
}
.grellow {
	background: #AEEA00;
	background: -moz-linear-gradient(top,  #AEEA00 0%, #C6FF00 70%, #EEFF41 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AEEA00), color-stop(70%,#C6FF00), color-stop(100%,#EEFF41));
	background: -webkit-linear-gradient(top,  #AEEA00 0%,#C6FF00 70%,#EEFF41 100%);
}
.yellow {
	background: #FDD835;
	background: -moz-linear-gradient(top,  #FDD835 0%, #FFEB3B 70%, #FFF176 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDD835), color-stop(70%,#FFEB3B), color-stop(100%,#FFF176));
	background: -webkit-linear-gradient(top,  #FDD835 0%,#FFEB3B 70%,#FFF176 100%);
}
.orange {
	background: #FF9100;
	background: -moz-linear-gradient(top,  #FF9100 0%, #FFAB40 70%, #FFD180 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF9100), color-stop(70%,#FFAB40), color-stop(100%,#FFD180));
	background: -webkit-linear-gradient(top,  #FF9100 0%,#FFAB40 70%,#FFD180 100%);
}
.red {
	background: #E53935;
	background: -moz-linear-gradient(top,  #E53935 0%, #F44336 70%, #EF5350 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E53935), color-stop(70%,#F44336), color-stop(100%,#EF5350));
	background: -webkit-linear-gradient(top,  #E53935 0%,#F44336 70%,#EF5350 100%);
}
.darkred {
	background: #9C0000;
	background: -moz-linear-gradient(top,  #9C0000 0%, #c60802 70%, #E53935 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9C0000), color-stop(70%,#c60802), color-stop(100%,#E53935));
	background: -webkit-linear-gradient(top,  #9C0000 0%,#c60802 70%,#E53935 100%);
}
.plain {
	background: #B0BEC5;
	background: -moz-linear-gradient(top,  #B0BEC5 0%, #CFD8DC 70%, #ECEFF1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B0BEC5), color-stop(70%,#CFD8DC), color-stop(100%,#ECEFF1));
	background: -webkit-linear-gradient(top,  #B0BEC5 0%,#CFD8DC 70%,#ECEFF1 100%);
}

.unavailable {
	background: #455A64;
	background: -moz-linear-gradient(top,  #455A64 0%, #546E7A 70%, #78909C 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#455A64), color-stop(70%,#546E7A), color-stop(100%,#78909C));
	background: -webkit-linear-gradient(top,  #455A64 0%,#546E7A 70%,#78909C 100%);
}

/* Dashboard 
______________________________*/
#edit {
	width: 90%;
	height: 70vh;
	background-color: rgba(206, 206, 206, 0.3);
	border: 1px solid #ffffff;
	display: block;
	margin: 0 auto;
	margin-top: 7%;
	overflow: hidden;
	clear: both;
	padding: 10px 15px 30px 15px;
	text-align: center;
}

/** {outline: 1px solid red;}*/

.dashTitle {
	width: 100%;
	height: auto;
	color: #ffffff;
	margin: 0 auto;
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
}

.dashimage {
	/*width: 15%;*/
/*	float: left;*/
	/*height: 100px;*/
	margin: 30px;
}

.dashprojects {
	/*width: 50%;*/
	/*float: left;*/
	/*height: auto;*/
}

#dashsubmit {
	display: block;
	width: 90px;
	margin: 0 auto;
	margin-top: 50px;
	border: 1px solid #29ABBC;
	padding: 15px 10px 15px 10px;
	background-color: #29ABBC;
	color: #ffffff;
	font-size: 1.5em;
}

#dashsubmit:hover {
	background-color: #31cee4;
	border: 1px solid #31cee4; 
	color: #ffffff;
	cursor: pointer;
}

textarea#memberproject {
	width: 85%;
	height: 85px;
	font-size: 1.5em;
	color: #0078C2;
	padding: 10px;
	display: block;
	margin: 0 auto;
}

textarea#memberproject:focus {
	outline-width: 0;
}


/* Full width responsive grid 
______________________________*/
.cbp-rfgrid {
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
}
.cbp-rfgrid li {
	position: relative;
	float: left;
	overflow: hidden;
	width: 12.5%;
	width: -webkit-calc(100% / 8);
	width: calc(100% / 8);
	text-align: center;
	margin: 10px;
	padding: 20px 5px 10px 5px;
}

.profilephoto {
	background: #FFF;
	padding: 10px;
	width: 60px;
	border-radius: 50%;
	font-size: 4em;
	margin: 0 auto;
	color: #a4a4a4;
}

.actions {
	display: inline-block;
	padding: 5px 7px 5px 7px;
	margin: auto 2px;
	color: #000;
	border: 1px solid #000;
	border-radius: 4px;
	font-size: .7em;
}

.actions:hover {
	border: 1px solid #6117ff;
	cursor: pointer;
	background: #6117ff;
	color: #ffffff;
}


/* Flexbox is used for centering the heading 
______________________________*/
.cbp-rfgrid li a div {
	position: absolute;
	left: 20px;
	top: 20px;
	right: 20px;
	bottom: 20px;
	background: rgba(71,163,218,0.2);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}

.cbp-rfgrid li:hover div {
	opacity: 1;
}

.cbp-rfgrid li h3 {
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4em;
	text-align: center;
	letter-spacing: 2px;
}

/* Media Queries 
______________________________*/

@media screen and (max-width: 945px) {
	.cbp-rfgrid li {
		width: 28.571428%;
		width: -webkit-calc(100% / 3.5);
		width: calc(100% / 3.5);
	}
}

@media screen and (max-width: 660px) {
	.cbp-rfgrid li {
		width: 33.3333333%;
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}

@media screen and (max-width: 660px) {
	.cbp-rfgrid li {
		width: 27.027027%;
		width: -webkit-calc(100% / 3.7);
		width: calc(100% / 3.7);
	}
}

@media screen and (max-width: 400px) {
	.cbp-rfgrid li {
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 300px) {
	.cbp-rfgrid li {
		width: 100%;
	}
}