html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

a {text-decoration: none;}

.nav {
	width: 100%;
	background: #a1ffdd;
	margin: 0 auto;
}

.nav ul {
	list-style-type: none;
	margin: 0 auto;
	text-align: center;
}

.nav li {
	display: inline-block;
	margin: 10px 20px 10px 20px;
}

.brand a {
	color: white;
}

