<div class="edit" id="frame-{{member.color}}">
	<div class="dashTitle">
		<h1 id="title-{{member.color}}">{{member.firstname}}</h1>
	</div>
	<div class="dashimage">
		<img src="{{member.image}}" id="frame-{{member.color}}">
	</div>
	
	<form name="dashColorForm"
		id="dashColorForm"
		ng-submit="dashColorUpdate()"
		novalidate>
		<div class="radio-toolbar">
			<input 
				type="radio" 
				id="radio1" 
				name="radios" 
				ng-model="color" 
				value="green">
		  <label for="radio1" id="greenRadio"></label>

		  <input 
		  	type="radio" 
		  	id="radio2" 
		  	name="radios" 
		  	ng-model="color" 
		  	value="grellow">
		  <label for="radio2" id="grellowRadio"></label>

		  <input 
		  	type="radio" 
		  	id="radio3" 
		  	name="radios" 
		  	ng-model="color" 
		  	value="yellow">
		  <label for="radio3" id="yellowRadio"></label>

		  <input 
		  	type="radio" 
		  	id="radio4" 
		  	name="radios" 
		  	ng-model="color" 
		  	value="orange">
		  <label for="radio4" id="orangeRadio"></label>
		  
		  <input 
		  	type="radio" 
		  	id="radio5" 
		  	name="radios" 
		  	ng-model="color" 
		  	value="red">
		  <label for="radio5" id="redRadio"></label>
		  
		  <input 
		  	type="radio" 
		  	id="radio6" 
		  	name="radios" 
		  	ng-model="color" 
		  	value="darkred">
		  <label for="radio6" id="darkredRadio"></label>
		  
		  <input 
		  	type="radio" 
		  	id="radio7" 
		  	name="radios" 
		  	ng-model="color" 
		  	value="unavailable">
		  <label for="radio7" id="unavailableRadio"></label>
		  
			<button type="submit" class="btn dashsubmit">Save</button>
		</div>
	</form>

	<form name="dashProjectForm"
		id="projectForm"
		ng-submit="dashProjectUpdate()"
		novalidate>
		<div class="dashprojects">
			<textarea 
				name="projectDescription" 
				id="memberproject" 
				ng-model="projectDescription"
				placeholder="{{member.projectDescription}}">{{member.projectDescription}}
			</textarea>
			<button type="submit" id="projectSubmit" class="btn dashsubmit">Save</button>
		</div>
	</form>
	<p><a ng-href="#/team">Return to Team Page</a></p>
</div>

