<div id="edit">
	<div class="dashTitle">
		<h1 ng-model="firstname">Welcome to your Dashboard {{member.firstname}}</h1>
	</div>
	<div class="dashimage">
		<img src="http://placehold.it/70x70">
	</div>
	<form name="dashform"
		ng-submit="dashUpdate()"
		novalidate>
	<div class="dashprojects">
		<textarea name="projects" id="memberproject" placeholder="Enter your projects"></textarea>

		<ul class="radioColors">
			<li>
				<label for="color" id="greenRadio">
					<input type="radio" name="color" value="green" checked>
				</label>
			</li>
			<li>
				<label for="color" id="grellowRadio">
					<input type="radio" name="color" value="grellow">
				</label>
			</li>
			<li>
				<label for="color" id="yellowRadio">
					<input type="radio" name="color" value="yellow">
				</label>
			</li>
			<li>
				<label for="color" id="orangeRadio">
					<input type="radio" name="color" value="orange">
				</label>
			</li>
			<li>
				<label for="color" id="redRadio">
					<input type="radio" name="color" value="red">
				</label>
			</li>
			<li>
				<label for="color" id="darkredRadio">
					<input type="radio" name="color" value="darkred">
				</label>
			</li>
		</ul>
	
		<a type="submit" class="btn" id="dashsubmit" ng-href="#/team">Update</a>
		<p>Return to <a ng-href="#/team">Team Page</a></p>

		</form>
	</div>
</div>