<h1 id="teamTitle">Team Members</h1>
<div class="addMember">
	<p>add member</p>
	<form class="formmember"
		name="memberform"
		ng-submit="addMember()"
		novalidate>
			<div class="inputwrapper">
				<input type="text" name="firstname" placeholder"First Name" ng-required="true">
				<button type="submit" class="btn"
				ng-disabled="memberform.$invalid">Add</button>
			</div>
	</form>



</div>
<ul class="cbp-rfgrid" ng-repeat="member in members">
	<li class="{{member.status.color}}">
		<img src="{{member.image}}">
		<div>
			<h3>{{member.firstname}}</h3>
			<button>View</button>
		</div>
	</li>
</ul>