<h1 id="teamTitle">Team Members</h1>
<!-- <div class="addMember">
	<p>add member</p>
	<form class="formmember"
		name="memberform"
		ng-submit="addMember()"
		novalidate>
			<div class="inputwrapper">
				<input type="text" name="firstname" placeholder"First Name" ng-model="firstname" ng-required="true">
				<button type="submit" class="btn"
				ng-disabled="memberform.$invalid">Add</button>
			</div>
	</form>
</div> -->

<ul class="cbp-rfgrid" ng-repeat="(key,member) in members">
	<li class="{{member.status.color}}">
		<div class="dripicon profilephoto">&#xe084;</div>
		<div>
			<h3>{{member.firstname}}</h3>
			<a class="dripicon actions" ng-href="#/views/dashboard/{{key}}">&#xe077;</a>
			<a class="dripicon actions" ng-href="#/views/dashboard/{{key}}">&#xe036;</a>
		</div>
	</li>
</ul>